# Ignora todo el target excepto el .jar
target/*
!target/to-do_List_backend-0.0.1-SNAPSHOT.jar

# También puedes permitir la carpeta target si solo necesitas ese .jar
# !target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
